nav {
  font-family: "Fredoka", sans-serif;
  font-size: 22px;
  height: 40px;
  margin-top: 20px;
  margin-bottom: 60px;

  .navbar {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 0;
    margin-left: 5px;
    padding: 0;

    li {
      list-style: none;

      &:hover {
        cursor: pointer;
        color: white;
        transform: scale(1.1);
        transition: 200ms;
      }
    }
  }

  a {
    color: lightgray;
  }
}

@media (min-width: 600px) {
  nav {
    font-size: 30px;

    .navbar {
      gap: 30px;
    }
  }
}
